.dark-mode {
    background-color: #1c1c1c;
    color: #fff;

}

.light-mode {
    background-color: #fff;
    color: #1c1c1c;
}

#heading,
#about-text {
    padding: 30px 0px;
}

.form-container {
    padding: 30px;
    background-color: lightgray;
}